/* Universal Styles */

.nav img {
    width: 180px;
    margin: 0 auto;
}

.nav span {
    margin: 10px 0;
}

.content {
    height: 500px;
    margin: 10px auto;
    overflow: scroll;
}

.header {
    height: 320px;
}

.header h1 {
    padding: 20px;
    margin: 0 auto;
}

.botton {
    width: 200px;
    padding: 20px;
    margin: 40px auto;
    border: 1px solid blue;
}

ul.nutrition {
    padding: 20px;
}

ul.nutrition li {
    display: inline-block;
    width: 200px;
    padding: 10px 20px;
    margin: 0 0 0 3px;
    background-color: #05a8aa;
    list-style: none;
    text-align: center;
}

.nutrition .category {
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    display: block;
}

.nutrition .value {
    color: white;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 2px;
    display: block;
}

body {
    background-image: url("https://content.codecademy.com/courses/web-101/unit-6/htmlcss1-img_foodlogo.png");
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
}

nav {
    text-align: center;
}

nav img {
    display: block;
}

nav span {
    display: block;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
}

nav a {
    color: #666666;
}

.content {
    width: 100%;
}

.header {
    background-image: url("https://content.codecademy.com/courses/web-101/unit-6/htmlcss1-img_burgerphoto.jpeg");
    background-position: center;
    background-size: cover;
}

.header h1 {
    background-color: #05a8aa;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
    width: 68%;
}

.button {
    border-radius: 4px;
    color: #05a8aa;
    display: block;
    font-weight: 700;
    text-align: center;
    width: 150px;
    margin: 20px auto;
    padding: 10px;
}

.button:hover {
    background-color: #05a8aa;
    border: 1px solid #05a8aa;
    color: #fff;
}
